@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

:root {
    --off-white: rgb(245, 237, 237);
    --off-white-two: rgb(245, 237, 237);
    --pink-gradient: linear-gradient(45deg, #ff003c, #c648c8);
    --off-black: rgb(27, 26, 26);
    --purple-gradient: linear-gradient(45deg, #c648c8, #ff003c);
    --button-gradient: linear-gradient(45deg, #7b00e0, #ae31d9);
    --webkit-button-gradient: -webkit-linear-gradient(45deg, #7b00e0, #ae31d9);
    --dark-purple: #9800d4;
    --hot-pink: #ff00c8;
    --box-background: linear-gradient(45deg, rgba(123, 0, 224, .2), rgb(174, 49, 217, .2));
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
    background: var(--off-white);
    display: flex;
    flex-direction: column;
}

/* title section */
.mainTitle {
    color: rgb(245, 237, 237);
    font-size: 4rem;
    text-align: center;
    padding-top: 15%;
    padding-left: 20%;
    padding-right: 20%;
    text-shadow:  
    1px 1px 0px rgb(27, 26, 26),
    2px 2px 0px rgb(27, 26, 26),
    3px 3px 0px rgb(27, 26, 26),
    4px 4px 0px rgb(27, 26, 26),
    5px 5px 0px rgb(27, 26, 26),
    6px 6px 0px rgb(27, 26, 26),
    7px 7px 0px rgb(27, 26, 26),
    8px 8px 0px rgb(27, 26, 26),
    9px 9px 0px rgb(27, 26, 26),
    10px 10px 0px rgb(27, 26, 26),
    11px 11px 0px rgb(27, 26, 26),
    12px 12px 0px rgb(27, 26, 26);
}


.titleName {
    color:  #963ce0;
}

.titleDiv {
    width: 100%;
    height: 100vh;
    background: var(--pink-gradient);
}


/* social buttons */
.social-container {
  width: 100%;
  /* margin: 40vh auto; */
  text-align: center;
  margin: auto;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}
.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}
.social-icons i {
  color: rgb(245, 237, 237);
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all 265ms ease-out;
}
.social-icons a {
  display: inline-block;
}
.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: var(--button-gradient);
  transition: all 265ms ease-out;
}
.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}
.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  /* color: #ff003c; */
  background: var(--webkit-button-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

@media screen and (max-width: 600px) {
    .mainTitle {
        font-size: 3rem;
        padding-top: 15%;
        padding-left: 10%;
        padding-right: 10%;
        text-shadow:  
        1px 1px 0px rgb(27, 26, 26),
        2px 2px 0px rgb(27, 26, 26),
        3px 3px 0px rgb(27, 26, 26),
        4px 4px 0px rgb(27, 26, 26),
        5px 5px 0px rgb(27, 26, 26),
        6px 6px 0px rgb(27, 26, 26),
        7px 7px 0px rgb(27, 26, 26),
        8px 8px 0px rgb(27, 26, 26),
        9px 9px 0px rgb(27, 26, 26),
        10px 10px 0px rgb(27, 26, 26),
        /* 11px 11px 0px rgb(27, 26, 26), */
        /* 12px 12px 0px rgb(27, 26, 26); */
    }
    .projectBoxes {
        flex-direction: column;
    }
}

/* about me section */
.aboutMeDiv {
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 5%;
}

.aboutMeTitle {
    color: var(--hot-pink);
    font-size: 3rem;
    margin-bottom: .5rem;
    text-shadow:  
    1px 1px 0px rgb(27, 26, 26),
    2px 2px 0px rgb(27, 26, 26)
}

.aboutMeText {
    color: var(--dark-purple);
    font-size: 1.2rem;
    /* text-shadow:  
    1px 1px 0px var(--off-black) */
}

.box:before,
.box:after {
    background-color: var(--off-white);
    border-radius: 10%;
	background-image: linear-gradient(
											235deg,
											var(--hot-pink),
											var(--off-white),
											var(--dark-purple)
										);
	bottom: -2px;
	content: '';
	left: -2px;
	position: absolute;
	right: -2px;
	top: -2px;
}

.box:before {
	z-index: -1;
}

.box {
    border-radius: 10%;
	align-items: center;
    background-color: var(--off-white);
	display: flex;
	height: 80%;
	justify-content: center;
	position: relative;
    min-width: 20%;
    margin: 5%;
}



.box:after {
	-webkit-filter: blur(40px);
	        filter: blur(40px);
	z-index: -2;
}

.boxContent {
	padding: 20px;
}

.headshotPhoto {
    max-width: 300px;
    border-radius: 15%;
    /* margin: 10%; */
    border: solid;

    border-color: var(--hot-pink); 
    
}

.headshotBox {
    /* background-color: red; */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* projects section */
.myProjectsDiv {
    width: 100%;
    min-height: 100vh;
    background: var(--purple-gradient);
}

.projectsTitle {
    width: 100%;
    color: var(--off-white-two);
    font-size: 3rem;
    text-align: center;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    text-shadow:  
    1px 1px 0px rgb(27, 26, 26),
    2px 2px 0px rgb(27, 26, 26),
    3px 3px 0px rgb(27, 26, 26),
    4px 4px 0px rgb(27, 26, 26),
    5px 5px 0px rgb(27, 26, 26),
    6px 6px 0px rgb(27, 26, 26),
    7px 7px 0px rgb(27, 26, 26),
    8px 8px 0px rgb(27, 26, 26),
    9px 9px 0px rgb(27, 26, 26)
}

.projectBoxes {
    display: flex;
}

.projectBox {
    margin: 5%;
    border: solid var(--off-white-two);
    border-radius: 10%;
    width: 90%;
    text-decoration: none;
    padding: 1%;
    background-image: var(--box-background);
}


.projectImg {
    max-width: 100%;
    padding: 5%;   
}

.projectTitle {
    color:var(--off-white-two);
    font-size: 2rem;
    padding: 5%;
    padding-top: 0%;
    text-shadow:  
    1px 1px 0px rgb(27, 26, 26),
    2px 2px 0px rgb(27, 26, 26)
    
}

.projectDescription {
    color: var(--off-white-two);
    padding: 5%;
    padding-top: 0;
    text-shadow:  
    1px 1px 0px rgb(27, 26, 26)
}

footer {
    min-height: 10vh;
    background: var(--pink-gradient);
    color: var(--dark-purple);
    text-align: center;
    padding: 2%;
    /* text-shadow:  
    1px 1px 0px rgb(27, 26, 26) */
}

.projectBox:hover{
    opacity: 0.7;
}


/* mode toggle */  
.switch-container {
    align-items: flex-end;
    padding: 1%;
}
.switch-container #switch {
    display: none;
}
.switch-container .switch-label {
    position: relative;
    cursor: pointer;
    margin: 0;
}
.switch-container .switch-label .switch-rail {
    transition: all 0.2s ease-in-out;
    position: absolute;
    width: 60px;
    height: 30px;
    background: linear-gradient(45deg, #424B54, #ABC5FC);
    border-radius: 50px;
    overflow: hidden;
}
.switch-container .switch-label .switch-rail .switch-slider {
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #fff;
}
.switch-container #switch:checked + .switch-label .switch-rail {
    transition: all 0.2s ease-in-out;
    background: linear-gradient(45deg, #ff003c, #c648c8);
}
.switch-container #switch:checked + .switch-label .switch-rail .switch-slider {
    transition: all 0.2s ease-in-out;
    transform: translateX(30px);
}


/* skills and experience */
.skillsSection {
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.skillsDiv {
    display: flex;
}

.skillsTitle {
    width: 100%;
    color: var(--dark-purple);
    font-size: 3rem;
    text-align: center;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    text-shadow:  
    1px 1px 0px rgb(27, 26, 26),
    2px 2px 0px rgb(27, 26, 26)
}

.skillsSubTitle {
    color: var(--hot-pink);
    font-size: 2rem;
    text-shadow:  
    1px 1px 0px rgb(27, 26, 26)
}

.skillsList {
    color: var(--dark-purple);
    font-size: 1.1rem;
    margin: 5%;
}

.skillsCat {
    font-weight: bold;
    font-size: 1.2rem;
}

.skillsBox:before,
.skillsBox:after {
    background-color: var(--off-white);
    border-radius: 10%;
	background-image: linear-gradient(
											235deg,
											var(--hot-pink),
											var(--off-white),
											var(--dark-purple)
										);
	bottom: -2px;
	content: '';
	left: -2px;
	position: absolute;
	right: -2px;
	top: -2px;
}

.skillsBox:before {
	z-index: -1;
}

.skillsBox {
    border-radius: 10%;
	align-items: center;
    background-color: var(--off-white);
	display: flex;
	height: 80%;
	justify-content: center;
	position: relative;
    min-width: 40%;
    margin: 5%;
}

.skillsBox:after {
	-webkit-filter: blur(40px);
	        filter: blur(40px);
	z-index: -2;
}

.skillsBoxContent {
	padding: 20px;
}


/* min-width media queries */
@media screen and (min-width: 600px) {
    .box {
        max-width: 60%;
        margin: auto;
    }
    
    .headshotPhoto {
       margin: auto;
    }
    
    .projectBoxes {
        display: flex;
        flex-direction: row;
    }
    
    .aboutMeDiv {
        display: flex;
        justify-content: center;
        flex-flow: nowrap;
    }
    
    .projectBox {
        width: 30%;
    }
    
    .myProjectsDiv {
        width: 100%;
        height: 100vh;
    }
    
    }
